exportPattern("^[[:alpha:]]+")
importFrom(imager, "imeval","as.cimg","is.pixset","is.cimg","boundary","as.imlist",
           "map_il","isoblur","imhessian","label","threshold", "load.image", "nPix",
           "as.pixset","grayscale","enorm","imgradient","medianblur","watershed","colorise",
           "depth", "height","width","channel")
importFrom(stats, "density", "dnorm", "dpois", "ecdf", "fft",
                "filter", "integrate", "ks.test", "median", "nlm", "nlminb",
                "optim", "plogis", "quantile", "rpois", "runif", "sd",
                "var", "BIC", "AIC", "logLik","dbeta","dlnorm","plnorm","qlnorm",
                "rbeta","rbinom","pnorm","dist","kmeans","qlogis","qnorm", "biplot")
importFrom(dplyr,"%>%","group_by","select","ungroup","summarise","mutate_if",
           "mutate","left_join","right_join","summarise_all","bind_rows","bind_cols")
importFrom(foreach,"%dopar%")
importFrom("utils", "getS3method", "install.packages", "menu",
               "read.csv")


S3method("print", "allo_herb_fit")
S3method("logLik", "allo_herb_fit")
S3method("AIC", "allo_herb_fit")
S3method("BIC", "allo_herb_fit")
S3method("coef", "allo_herb_fit")
S3method("print", "generic_null_fit")
S3method("logLik", "generic_null_fit")
S3method("AIC", "generic_null_fit")
S3method("BIC", "generic_null_fit")
S3method("coef", "generic_null_fit")
S3method("print","split_herb")
S3method("plot","singleton")
S3method("plot","cimg")
S3method("plot","split_herb")
S3method("plot","lc")
S3method("print", "bite_size_fit")
S3method("r2_delta", "brmsfit")
S3method("r2_delta_all", "brmsfit")
S3method("plot", "imlist")
S3method("coef", "bite_size_fit")
S3method("predict", "allo_herb_fit")
S3method("predict", "generic_null_fit")

