exportPattern("^[[:alpha:]]+")
importFrom(grDevices,"png","dev.off","as.raster","rgb")
importFrom(spatstat.geom,"plot.imlist","ppp")
importFrom(spatstat.core, "clarkevans","hopskel","allstats","Lest","Kest",
           "Gest","Jest","Fest","envelope.ppp", "clarkevans.test")
importFrom(imager, "imeval","as.cimg","is.pixset","is.cimg","boundary","as.imlist", "save.image",
           "map_il","spectrum","isoblur","imhessian","label","threshold", "load.image", "nPix",
           "as.pixset","grayscale","enorm","imgradient","medianblur","watershed","colorise",
           "frame", "depth", "height","width","channel")
importFrom(stringr,"str_match")
importFrom(graphics, "hist", "lines", "par", "rasterImage", "title", "axis", "plot.new",
           "plot.window")
importFrom(stats, "density", "dnorm", "dpois", "ecdf", "fft",
                "filter", "integrate", "ks.test", "median", "nlm", "nlminb",
                "optim", "plogis", "quantile", "rpois", "runif", "sd",
                "var", "BIC", "AIC", "logLik","dbeta","dlnorm","plnorm","qlnorm",
                "rbeta","rbinom","pnorm","dist","kmeans")
importFrom(utils, "packageDate","menu","combn","globalVariables")
importFrom(dplyr,"%>%","group_by","select","ungroup","summarise","mutate_if",
           "mutate","left_join","right_join","summarise_all","bind_rows","bind_cols")
importFrom(ggplot2,"labs","geom_col","theme_bw","ggplot","geom_line","aes","geom_point")
importFrom(DescTools,"Skew","Kurt","Gini")
importFrom(ineq, "entropy","Kolm","Theil","Atkinson","RS", "ineq", "Lasym")
importFrom(kSamples,"ad.test")
importFrom(philentropy,"KL")
importFrom(numDeriv,"hessian")
importFrom(purrr,"map")
importFrom(parallel,"makeCluster","stopCluster")
importFrom(foreach,"%dopar%","foreach")
importFrom(doParallel,"stopImplicitCluster","registerDoParallel")
importFrom(ggpubr,"ggarrange")

S3method("print", "allo_herb_fit")
S3method("logLik", "allo_herb_fit")
S3method("AIC", "allo_herb_fit")
S3method("BIC", "allo_herb_fit")
S3method("coef", "allo_herb_fit")
S3method("print", "generic_null_fit")
S3method("logLik", "generic_null_fit")
S3method("AIC", "generic_null_fit")
S3method("BIC", "generic_null_fit")
S3method("coef", "generic_null_fit")
S3method("print","split_herb")
S3method("plot","singleton")
S3method("plot","cimg")
S3method("plot","split_herb")
S3method("plot","lc")
